body{
	background-color: rgba(245, 245, 245, 0.89);
	font-family:Arial, Helvetica, sans-serif;
	background-image: url(cool-background.png);
	background-repeat: no-repeat;
	background-size: 100%;
	
}
nav{
	background-color: darkcyan;
	padding: 14px 0px 14px 0px;
	margin: -8px -8px 8px -8px;
}
nav a{
	font-size: 28px;
	color: blanchedalmond;
	margin: 0px 0px 0px -5px;
	padding: 14px 16px 14px 16px;
	font-weight: bold;
}	
nav a:hover{
	background-color: rgb(19, 103, 172);
}
.active{
	background-color: rgb(74, 74, 185);
}
img{
	position: relative;
	top:100px;
	right: 45%;
}
p{
	color: white;
	position: relative;
	top: 90px;
	right: 43%;
	font-size: 50px;
	font-weight: bold;
}
.jb{
	font-size: 28px;
	width: 100px;
	height: 50px;
	position: relative;
	top: 90px;
	right: 48%;
	border-style: solid;
	border: 1px;
	border-radius: 15%;
	color: white;
	background-color: darkcyan;
}
